<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="container">
    <header>
        <%- include('../partials/headerloggedin'); %>
    </header>
    <hr>
    <br>
    <hr>
<%
console.log(allusers);
users = allusers;
var i = 0;
%>
<table class="table">
<tr>
<th scope="col">#</th>
<th scope="col">Name:</th>
<th scope="col">Username:</th>
</tr>
<%
users.forEach(element => {
    var type = JSON.stringify(element); //Stringifies the elements of the user array
    i += 1; //Adding 1 to i for each new element so that the number displayed on each tablerow matches
    type = type.replace(/\\/g, ""); //Getting rid of json characters and other unnecessities
    type = type.replace(/[{}]/g, "");
    type = type.replace(/,/g, "");
    type = type.replace(/"/g, "   ");
    type = type.replace(/[]/g, "");
    type = type.replace(/[\[\]']+/g,"")
    type = type.replace(/:/g, "");
    type = type.replace(/name/g, "");
    types = type.split("user"); //Splitting the string in two so that user and name are two seperated entityties
    %>
    <tr>
    <th scope="row"><%= i %></th>
    <td><%= types[0] %></td> 
    <td><%= types[1] %></td>
    </tr>
<%});%>  
</table>
    <hr>
    <br>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
   
</body>
</html>